.search-box {
    margin: 16px 0;
}

.search-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
}