.contact-form {
    border: 1px solid #111111;
    padding: 16px;
    border-radius: 8px;
    margin: 0 auto 16px auto;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-sizing: border-box;
    color: #070707;
    background-color: rgb(255, 255, 255);
}

.contact-form button {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #94f2ff;
    color: rgb(2, 2, 2);
    cursor: pointer;
}

.contact-form button:hover {
    background-color: rgb(118, 253, 170);
}